{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    <title>Guest Writing & Contribute with nodira</title>
{% endblock %}
{% block css_link %}
    <link rel="stylesheet" href="{% static 'main/tutorial/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'main/tutorial/python/python_installing.css' %}">
    <style>
        #header {
            background: rgb(6, 12, 34);
        }
         .bmc-button img {
            height: 34px !important;
            width: 35px !important;
            margin-bottom: 1px !important;
            box-shadow: none !important;
            border: none !important;
            vertical-align: middle !important;
        }

        .bmc-button {
            padding: 7px 15px 7px 10px !important;
            line-height: 35px !important;
            height: 51px !important;
            text-decoration: none !important;
            display: inline-flex !important;
            color: #ffffff !important;
            background-color: #FF5F5F !important;
            border-radius: 5px !important;
            border: 1px solid transparent !important;
            font-size: 26px !important;
            box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5) !important;
            -webkit-box-shadow: 0 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
            margin: 0 auto !important;
            letter-spacing: 1px;
            font-family: 'Cookie', cursive !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
        }

        p {
            font-weight: 400;
        }

        .p-size {
            font-size: 1em;
        }

        .command {
            border: 1px solid lightslategrey;
            padding-left: 20px;
            padding-top: 13px;
            padding-bottom: 13px;
            font-size: .9em;
            font-weight: bold;
        }

        #sidebar ul li a {
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
        }

        #sidebar ul li a:hover {
            color: rgb(6, 12, 34);
            background: #fff;
            transition: color 0.7s;
        }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: rgb(6, 12, 34);
            background: white;
        }
    </style>
{% endblock %}



{% block body %}
    <!--HEADER -->
    {% include 'main/header.html' %}

    <!--SIDEBAR1 -->
    {% include 'about/sidebar_1.html' %}

    <!--CONTENT -->


    <div class="container">

        <div class="mt-4 mb-4">
            <button class="prev"><span><a class="text-white" href="{% url 'about:terms_of_use' %}" target="_blank"> Previous</a></span>
            </button>
            <button class="next"><span><a class="text-white" href="{% url 'about:advertising' %}" target="_blank">Next </a></span>
            </button>
        </div>
        <br>
        <br>
        <div class="wow fadeInUp">
            <div class="container-fluid head-bar my-5">
                <div class="text-center my-lg-5">
                    <p class="h1 my-font my-4"
                       style=" font-weight:900;color: #102a43;font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif; margin-bottom: 20px;font-size: 2.8em;">
                        Guest Writing & Contribute
                    </p>
                    <p style="color: rgb(102,103,142);">"<strong>Power</strong> is gained by <strong>sharing
                        knowledge</strong>, not hoarding it" <br>
                        We look forward to hearing from you!</p>
                </div>
            </div>
            <br>
        </div>
        <section id="schedule" class="section-with-bg">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <p class="my-font ml-3"
                       style="font-weight:900;color: #102a43;font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif; margin-bottom: 20px;font-size: 2em;">
                        Guest Writing <img src="{% static 'images/gallery/fire.png' %}" alt=""
                                           style="width: 35px; height: 35px; margin-bottom: 10px;">
                    </p>
                    <p style="color: rgb(102,103,142)">Stay tuned among <em><strong>good readers</strong></em>,
                        <em><strong>guest writers</strong></em> and <em><strong>awesome community</strong></em> ! </p>
                </div>

                <h3 class="sub-heading">
                    The internet should reward quality thinking, not clickbait. That’s why we’ve created a better place
                    for good readers, guest authors and awesome community. It’s a forum based web development site and
                    focuses on simplicity and easy to use, while connecting you to
                    curious, avid readers, so you can focus on what matters: putting your best work out there.
                </h3>


            </div>
        </section>
        <!--==========Schedule Section==============-->
        <section id="schedule" class="section-with-bg" style="background-color: rgb(249,250,252)">
            <div class="container wow fadeInUp">


                <div class="section-header my-3">
                    <p class="text-dark font-weight-bold my-3">Be part of our supreme family and share your knowledge
                        <img
                                src="{% static 'images/heart.ico' %}" alt="love" style="width: 25px; height: 25px;"></p>
                </div>

                <h3 class="sub-heading mt-5">
                    Be part of our super family by sharing your articles to <span class="text-danger font-weight-bold">nodira.org@gmail.com</span>
                    <br>
                    Your contributions are very important for us!
                    <br>
                    <br>
                    <strong>*</strong>Articles can be written on any topic
                </h3>

            </div>
        </section>

        <br>
        <div class="mt-4 mb-4">
            <button class="prev"><span><a class="text-white" href="{% url 'about:terms_of_use' %}" target="_blank"> Previous</a></span>
            </button>
            <button class="next"><span><a class="text-white" href="{% url 'about:advertising' %}" target="_blank">Next </a></span>
            </button>
        </div>
        <br> <br> <br>

    </div>

    <!--SIDEBAR2 -->
    {% include 'about/sidebar_2.html' %}


    <!--FOOTER -->
    {% include 'main/footer.html' %}
{% endblock %}