{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Contact Us - nodira</title>
{% endblock %}
{% block css_link %}
    <link rel="stylesheet" href="{% static 'main/tutorial/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'main/tutorial/python/python_installing.css' %}">
    <link href="{% static 'about/contact.css' %}" rel="stylesheet">
    <style>
        #header {
            background: rgb(6, 12, 34);
        }
         .bmc-button img {
            height: 34px !important;
            width: 35px !important;
            margin-bottom: 1px !important;
            box-shadow: none !important;
            border: none !important;
            vertical-align: middle !important;
        }

        .bmc-button {
            padding: 7px 15px 7px 10px !important;
            line-height: 35px !important;
            height: 51px !important;
            text-decoration: none !important;
            display: inline-flex !important;
            color: #ffffff !important;
            background-color: #FF5F5F !important;
            border-radius: 5px !important;
            border: 1px solid transparent !important;
            font-size: 26px !important;
            box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5) !important;
            -webkit-box-shadow: 0 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
            margin: 0 auto !important;
            letter-spacing: 1px;
            font-family: 'Cookie', cursive !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
        }

        input[type='text'], input[type='email'], textarea {
            font-family: 'Poppins', sans-serif;
            color: #25265e;
            font-size: 16px;
            line-height: 38px;
            border: 1px solid #d3dce6 !important;
            border-radius: 4px !important;
            background-color: #fff !important;
            transition: 0.5s;
            outline: none;
        }


        textarea {
            height: 150px;
            resize: none;
        }

        p {
            font-weight: 400;
        }

        #sidebar ul li a {
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }

        #sidebar ul li a:hover {
            color: rgb(6, 12, 34);
            background: #fff;
            transition: color 0.7s;
        }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: rgb(6, 12, 34);
            background: white;
        }

    </style>
{% endblock %}



{% block body %}
    <!--HEADER -->
    {% include 'main/header.html' %}

    <!--SIDEBAR1 -->
    {% include 'about/sidebar_1.html' %}

    <!--CONTENT -->

    <div class="container">

        <div class="mt-3 mb-4">
            <button class="prev"><span><a class="text-white" href="{% url 'about:advertising' %}" target="_blank"> Previous</a></span>
            </button>
        </div>
        <br>
        <br>
        <div class="container head-bar my-5 wow fadeInUp">
            <div class="text-center my-lg-5">

                <p class="h1 my-font"
                   style=" font-weight:900;color: #102a43;font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif; margin-bottom: 20px;font-size: 2.8em;">
                    Contact Nodira <img src="{% static 'images/gallery/contact_icon_1.png' %}" alt="contact icon - nodira"
                                        style="width: 55px; height: 55px;"></p>
                <p style="color: rgb(102,103,142);">We're here to help and answer any question you might have. <br>
                    We look forward to hearing from you!</p>
            </div>
        </div>
        <br>
    </div>
    <div class="bg-white container-fluid wow fadeInUp">
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <form action="" method="POST" autocomplete="off"
                      style="font-family: 'Poppins', sans-serif; color: rgb(16,42,67); font-weight: 700;">
                    {% csrf_token %}
                    <div class="form-row my-3">
                        <div class="form-group col-md-6 mb-0">{{ form.first_name|as_crispy_field }}</div>
                        <div class="form-group col-md-6 mb-0">{{ form.email|as_crispy_field }}</div>
                    </div>
                    <div class="form-row my-3">
                        <div class="form-group col-md-12 mb-0">{{ form.title|as_crispy_field }}</div>
                    </div>
                    <div class="form-row my-3">
                        <div class="form-group col-md-12  mb-0">{{ form.message|as_crispy_field }}</div>
                    </div>
                    <button class="next" type="submit" style="float: left;"><span class="text-white">Submit </span>
                    </button>
                </form>
            </div>
            <div class="col-md-6"><img src="{% static 'images/gallery/contact_2.jpg' %}"
                                       style="width: 530px; height: 500px;" alt="contact us - nodira"></div>

        </div>
        <br>
    </div>



    <!--==========Schedule Section==============-->
    <section id="schedule" class="section-with-bg">
        <div class="container wow fadeInUp">


            <div class="section-header my-3">
                <p class="text-dark font-weight-bold my-3">Be part of our supreme family and share your knowledge
                    <img
                            src="{% static 'images/heart.ico' %}" alt="love icon - nodira" style="width: 25px; height: 25px;"></p>
            </div>

            <h3 class="sub-heading mt-5">
                Be part of our super family by sharing your articles to <span class="text-danger font-weight-bold">nodira.org@gmail.com</span>
                <br>
                Your contributions are very important for us!
                <br>
                <br>
                <strong>*</strong>Articles can be written on any topic
            </h3>

        </div>
    </section>
    <br>
    <div class="mt-3 mb-4">
        <button class="prev"><span><a class="text-white" href="{% url 'about:advertising' %}"
                                      target="_blank"> Previous</a></span>
        </button>
    </div>


    <!--SIDEBAR2 -->
    {% include 'about/sidebar_2.html' %}


    <!--FOOTER -->
    {% include 'main/footer.html' %}
{% endblock %}