<!--Footer-->
{% load static %}

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <img style="margin-top:-7px;" src="{% static 'images/logo3.png' %}" alt="nodira.org logo">
                    <p>At <span class="font-weight-bold"
                            style="color: #f82249;">nodira</span><strong>,</strong>
                        we believe that anyone can learn anything. All it
                        takes is
                        a tenacious spirit, the right guidance, and the tools to see it through. We know that
                        students are under more pressure than ever. Hence, it’s our job to give every student
                        the tools and confidence to succeed, no matter what their motivation, or what they’re
                        striving to achieve.</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 class="text-capitalize" style="font-family: 'Poppins', sans-serif;font-size: 1.2em;letter-spacing: 1px;">Quick Reference</h4>
                    <ul  style="font-family: 'Poppins', sans-serif;" class="py-2">
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'main:main' %}">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'main:python' %}">Python Tutorial</a></li>
                        <li><i class="fa fa-angle-right"></i><a href="{% url 'about:company' %}">About us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'about:contact' %}">Contact us</a></li>
                    </ul>
                </div>


                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 class="text-capitalize" style="font-family: 'Poppins', sans-serif;font-size: 1.2em;letter-spacing: 1px;">Legal Reference</h4>
                    <ul style="font-family: 'Poppins', sans-serif;" class="py-2">
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'about:privacy_policy' %}">Privacy
                            Policy</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'about:terms_of_use' %}">Terms &
                            Conditions</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'about:contribute' %}">Contribute</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'about:advertising' %}">Advertising</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4 class="text-capitalize" style="font-family: 'Poppins', sans-serif;font-size: 1.2em;letter-spacing: 1px;">Contact Us</h4>
                    <p>
                        6B, Yunusabad District <br>
                        Tashkent, Uzbekistan 100084<br>
                        <strong>Phone:</strong> +998 90 6367357<br>
                        <strong>Email:</strong> nodira.org@gmail.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter" data-toggle="tooltip" data-placement="bottom"
                           title="Follow on Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook" data-toggle="tooltip" data-placement="bottom"
                           title="Follow on Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram" data-toggle="tooltip" data-placement="bottom"
                           title="Follow on Instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="linkedin" data-toggle="tooltip" data-placement="bottom"
                           title="Follow on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            Copyright &copy; 2020 <strong style="color: #f82249;">nodira</strong>. All Rights Reserved.
        </div>

    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- JavaScript Libraries -->
<script src="{% static 'main/header/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'main/header/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'main/header/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'main/header/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'main/header/lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'main/header/lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'main/header/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'main/header/lib/venobox/venobox.min.js' %}"></script>
<script src="{% static 'main/header/lib/owlcarousel/owl.carousel.min.js' %}"></script>



<!-- Template Main Javascript File -->
<script src="{% static 'main/header/js/main.js' %}"></script>