{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    <title>Python Copying Data (Examples & Guidance)</title>
{% endblock %}

{% block meta_description %}
    <meta name="description"
          content="Python Copying Data | Difference between Shallow Copy and Deep Copy with practical examples and simple usage of copy() function in Python.">
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'main/tutorial/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'main/tutorial/python/python_installing.css' %}">
    <style>
        #header {
            background: rgb(6, 12, 34);
        }


        .bmc-button img {
            height: 34px !important;
            width: 35px !important;
            margin-bottom: 1px !important;
            box-shadow: none !important;
            border: none !important;
            vertical-align: middle !important;
        }

        .bmc-button {
            padding: 7px 15px 7px 10px !important;
            line-height: 35px !important;
            height: 51px !important;
            text-decoration: none !important;
            display: inline-flex !important;
            color: #ffffff !important;
            background-color: #FF5F5F !important;
            border-radius: 5px !important;
            border: 1px solid transparent !important;
            font-size: 26px !important;
            box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5) !important;
            -webkit-box-shadow: 0 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
            margin: 0 auto !important;
            letter-spacing: 1px;
            font-family: 'Cookie', cursive !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
        }


        p {
            font-weight: 400;
        }

        .serif {
            font-family: "Times New Roman", Times, serif;
        }

        .p-size {
            font-size: 1em;
        }

        .command {
            border: 1px solid lightslategrey;
            padding-left: 20px;
            padding-top: 13px;
            padding-bottom: 13px;
            font-size: .9em;
            font-weight: bold;
        }

        #sidebar ul li a {
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
        }

        #sidebar ul li a:hover {
            color: rgb(6, 12, 34);
            background: #fff;
            transition: color 0.7s;
        }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: rgb(6, 12, 34);
            background: white;
        }
    </style>
{% endblock %}


{% block body %}
    <!--HEADER -->
    {% include 'main/header.html' %}

    <!--SIDEBAR1 -->
    {% include 'main/tutorial/sidebar_1.html' %}

    <!--CONTENT -->

    <h2 class="text-center body-color font-italic">Python Copying Data</h2>
    <div class="container">
        <hr>
        <div class="mt-3 mb-4">
            <button class="prev"><span><a class="text-white" href="{% url 'main:python_regex' %}"> Previous</a></span>
            </button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_name_variable' %}"
                                          >Next </a></span></button>
        </div>
        <br>
        <br>

        <div class="h5 text-info my-3"><strong>Section 1.1</strong>: Python Copy Overview</div>
        <p class="p-color p-size ml-3">The <span class="text-danger font-weight-bold">copy</span> ( ) function simply
            copies the data of one
            iterable to another iterable. <br>
        </p>
        <p class="p-color p-size ml-3">
            In Python, <strong>copying data</strong> is divided into 2 categories: <span
                class="text-danger font-weight-bold">Shallow Copy</span> and <span class="text-danger font-weight-bold">Deep Copy</span>
        </p>
        <hr>
        <div class="h5 text-info mb-3"><strong>Section 1.2</strong>: Difference between <strong>Shallow Copy</strong>
            and
            <strong>Deep Copy</strong></div>

        <p class="p-color p-size my-3">
            <span class="text-danger font-weight-bold">Shallow Copy</span> <strong>-</strong> a method that copies data
            collection without bothering of its elements.<br>
        </p>
        <p class="p-color p-size my-3">
            <span class="text-danger font-weight-bold">Deep Copy</span> <strong>-</strong> a method that copies data
            collection with its elements, mostly used to copy nested elements.
        </p>


        <div class="row">
            <div class="col-md-6 col-sm-12">
                <ul class="mt-3">
                    <li>
                        <p class="p-color p-size mt-2 font-italic">
                            The syntax of <span class="text-danger">shallow copy</span> function:
                        </p>
                    </li>
                </ul>
                <p class="p-color p-size  font-weight-bold"
                   style="padding: 5px; border: 1px solid lightslategray; border-radius: 5px; padding-left: 20px;">
           <span class="text-dark"> <span class="text-danger">import</span> copy <br>
               <span class="text-danger">copy</span>.copy ( iterable )
           </span>
                </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <ul class="mt-3">
                    <li>
                        <p class="p-color p-size mt-2 font-italic">
                            The syntax of <span class="text-danger">deep copy</span> function:
                        </p>
                    </li>
                </ul>
                <p class="p-color p-size  font-weight-bold"
                   style="padding: 5px; border: 1px solid lightslategray; border-radius: 5px; padding-left: 20px;">
           <span class="text-dark"> <span class="text-danger">import</span> copy <br>
               <span class="text-danger">copy</span>.deepcopy ( iterable )
           </span>
                </p>
            </div>
        </div>

        <hr>
        <div class="h5 text-info mb-3"><strong>Section 2.1</strong>: <strong>Shallow Copy</strong> in Practice</div>
        <ul class="mt-3">
            <li>
                <p class="p-color p-size mt-2 font-italic">
                    Note that <strong>copied data will not be updated</strong> if you add some data to the original
                    dataset. </p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-dark">import <span class="text-danger"> copy</span> <br>
            names &nbsp;=&nbsp; &nbsp;
            [ &nbsp;<span class="text-info">"Alex"</span> , <span class="text-info">"Justin"</span> ,
            <span class="text-info">"John"</span>
            ] <br> <br>
            <span
                    class="text-secondary"><em># &nbsp;&nbsp;performing shallow copy </em></span><br>
            copied_names &nbsp;=&nbsp; copy.<span class="text-danger">copy</span> ( names ) <br>
            <span class="text-dark"><span class="text-danger">print</span> ( names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp; [ 'Alex' , 'Justin' , 'John' ]</span> <br>
            <span class="text-dark"><span class="text-danger">print</span> ( copied_names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp; [ 'Alex' , 'Justin' , 'John' ]</span> <br><br>
 <span class="text-secondary"><em># &nbsp;&nbsp;appending some data </em></span><br>

                names.<span class="text-danger">append</span>( <span class="text-info">"Selena"</span> ) <br>
<span class="text-dark"><span class="text-danger">print</span> ( names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp; [ 'Alex' , 'Justin' , 'John' , 'Selena' ]</span> <br>
            <span class="text-dark"><span class="text-danger">print</span> ( copied_names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp; [ 'Alex' , 'Justin' , 'John' ]</span> <br>

            </span>
        </p>
        <hr>
        <p class="command p-size">
            <span class="text-dark">import <span class="text-danger"> copy</span> <br>
            names &nbsp;=&nbsp; &nbsp;
            [ &nbsp;[ <span class="text-info">0</span> , <span class="text-info">1</span> ] ,
            [ <span class="text-info">2</span> , <span class="text-info">3</span> ] , &nbsp;
            [ <span class="text-info">4</span> , <span class="text-info">5</span> ]
            ] <br> <br>
            <span
                    class="text-secondary"><em># &nbsp;&nbsp;performing shallow copy </em></span><br>
            copied_names = copy.<span class="text-danger">copy</span> ( names ) <br>
            <span class="text-dark"><span class="text-danger">print</span> ( names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp;  [  [ 0 , 1 ] , [ 2 , 3 ] ,   [ 4 , 5 ] ]</span> <br>
            <span class="text-dark"><span class="text-danger">print</span> ( copied_names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp;  [  [ 0 , 1 ] , [ 2 , 3 ] ,   [ 4 , 5 ] ]</span> <br><br>
 <span class="text-secondary"><em># &nbsp;&nbsp;changing data </em></span><br>

                names [ <span class="text-info">1</span> ] [ <span class="text-info">1</span> ] &nbsp;=&nbsp; 100<br>
<span class="text-dark"><span class="text-danger">print</span> ( names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp; [ [ 0 , 1 ] , [ 2 , 100 ] , [ 4 , 5 ] ]</span> <br>
            <span class="text-dark"><span class="text-danger">print</span> ( copied_names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp; [ [ 0 , 1 ] , [ 2 , 100 ] , [ 4 , 5 ] ]</span> <br>

            </span>
        </p>
        <ul class="mt-3">
            <li>
                <p class="p-color p-size mt-2 font-italic">
                    <span class="text-danger font-weight-bold">Shallow Copy</span> <strong>-</strong> a method that
                    copies data
                    collection without bothering of its elements.<br>
                </p></li>
        </ul>

        <hr>
        <div class="h5 text-info mb-3"><strong>Section 2.2</strong>: <strong>Deep Copy</strong> in Practice</div>
        <ul class="mt-3">
            <li>
                <p class="p-color p-size mt-2 font-italic">
                    Note that <strong>copied data will not be updated</strong> if you add some data to the original
                    dataset. </p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-dark">import <span class="text-danger"> copy</span> <br>
            names &nbsp;=&nbsp; &nbsp;
            [ &nbsp;[ <span class="text-info">0</span> , <span class="text-info">1</span> ] ,
            [ <span class="text-info">2</span> , <span class="text-info">3</span> ] , &nbsp;
            [ <span class="text-info">4</span> , <span class="text-info">5</span> ]
            ] <br> <br>
            <span
                    class="text-secondary"><em># &nbsp;&nbsp;performing deep copy </em></span><br>
            copied_names = copy.<span class="text-danger">deepcopy</span> ( names ) <br>
            <span class="text-dark"><span class="text-danger">print</span> ( names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp;  [  [ 0 , 1 ] , [ 2 , 3 ] ,   [ 4 , 5 ] ]</span> <br>
            <span class="text-dark"><span class="text-danger">print</span> ( copied_names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp;  [  [ 0 , 1 ] , [ 2 , 3 ] ,   [ 4 , 5 ] ]</span> <br><br>
 <span class="text-secondary"><em># &nbsp;&nbsp;changing data </em></span><br>

                names [ <span class="text-info">1</span> ] [ <span class="text-info">1</span> ] &nbsp;=&nbsp; 100<br>
<span class="text-dark"><span class="text-danger">print</span> ( names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp; [ [ 0 , 1 ] , [ 2 , 100 ] , [ 4 , 5 ] ]</span> <br>
            <span class="text-dark"><span class="text-danger">print</span> ( copied_names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp; [ [ 0 , 1 ] , [ 2 , 3 ] , [ 4 , 5 ] ]</span> <br>

            </span>
        </p>
        <ul class="mt-3">
            <li>
                <p class="p-color p-size mt-2 font-italic">
                    <span class="text-danger font-weight-bold">Deep Copy</span> <strong>-</strong> a method that copies
                    data
                    collection with its elements, mostly used to copy nested elements.
                </p>
            </li>
        </ul>
        <hr>
        <div class="h5 text-info mb-3"><strong>Section 3.1</strong>: Slicing Method For Shallow Copy</div>
        <ul class="mt-3">
            <li>
                <p class="p-color p-size mt-2 font-italic">
                    Note that <strong>slicing method</strong> will function the same as shallow copy: </p>
            </li>
        </ul>
        <p class="command p-size">
           <span class="text-dark">
               names &nbsp;=&nbsp; &nbsp;
            [ &nbsp;<span class="text-info">"Alex"</span> , <span class="text-info">"Justin"</span> ,
            <span class="text-info">"John"</span>
            ] <br>
            <span
                    class="text-secondary"><em># &nbsp;&nbsp;performing shallow copy using slicing </em></span><br>
            copied_names &nbsp;=&nbsp;names [ : ] <br>
             <span class="text-secondary"><em># &nbsp;&nbsp;appending some data </em></span><br>

                names.<span class="text-danger">append</span>( <span class="text-info">"Selena"</span> ) <br>
<span class="text-dark"><span class="text-danger">print</span> ( names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp; [ 'Alex' , 'Justin' , 'John' , 'Selena' ]</span> <br>
            <span class="text-dark"><span class="text-danger">print</span> ( copied_names )</span>
            <span class="text-secondary font-italic pl-3">#&nbsp;&nbsp; [ 'Alex' , 'Justin' , 'John' ]</span> <br>

            </span>

        </p>
        <br>
        <div class="mt-3 mb-4">
            <button class="prev"><span><a class="text-white" href="{% url 'main:python_regex' %}"> Previous</a></span>
            </button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_name_variable' %}">Next </a></span></button>
        </div>
        <br> <br> <br>
        <!--==========Schedule Section==============-->
        <section id="schedule" class="section-with-bg">
            <div class="container wow fadeInUp">

                <div class="tab-content row justify-content-center">
                    <div role="tabpanel" class="col-lg-9 tab-pane fade show active">
                        <div class="row schedule-item">
                            <div class="col-md-12">
                                <div class="speaker">
                                    <img src="{% static 'images/contributors/aziko.jpg' %}" alt="author image">
                                </div>
                                <h4>Written By : <span class="text-danger font-weight-bold">Azam Nurullaev</span></h4>
                                <p class="p-size"><span class="text-dark font-weight-bold">Quote : </span>Programming is
                                    the
                                    main bridge towards your future goals and I'm happy to help you achieve them.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="section-header my-3">
                    <p class="text-dark font-weight-bold my-3">Be part of our supreme family and share your knowledge
                        <img
                                src="{% static 'images/heart.ico' %}" alt="love" style="width: 25px; height: 25px;"></p>
                </div>

                <h3 class="sub-heading mt-5">
                    Be part of our super family by sharing your articles to <span class="text-danger font-weight-bold">nodira.org@gmail.com</span>
                    <br>
                    Your contributions are very important for us!
                    <br>
                    <br>
                    <strong>*</strong>Articles can be written on any topic
                </h3>

            </div>
        </section>

    </div>

    <!--SIDEBAR2 -->
    {% include 'main/tutorial/sidebar_2.html' %}


    <!--FOOTER -->
    {% include 'main/footer.html' %}
{% endblock %}