{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    <title>Python Indentation and Comment (Examples & Source Code)</title>
{% endblock %}
{% block css_link %}
    <link rel="stylesheet" href="{% static 'main/tutorial/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'main/tutorial/python/python_installing.css' %}">
    <style>
        #header {
            background: rgb(6, 12, 34);
        }

        p {
            font-weight: 400;
        }
        .bmc-button img {
            height: 34px !important;
            width: 35px !important;
            margin-bottom: 1px !important;
            box-shadow: none !important;
            border: none !important;
            vertical-align: middle !important;
        }
        .bmc-button {
            padding: 7px 15px 7px 10px !important;
            line-height: 35px !important;
            height: 51px !important;
            text-decoration: none !important;
            display: inline-flex !important;
            color: #ffffff !important;
            background-color: #FF5F5F !important;
            border-radius: 5px !important;
            border: 1px solid transparent !important;
            font-size: 26px !important;
            box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5) !important;
            -webkit-box-shadow: 0 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
            margin: 0 auto !important;
            letter-spacing: 1px;
            font-family: 'Cookie', cursive !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
        }


        .p-size {
            font-size: 1em;
        }

        .command {
            padding-left: 20px;
            padding-top: 13px;
            padding-bottom: 13px;
            border: 1px solid lightslategrey;
            font-size: .9em;
            font-weight: bold;
        }

        #sidebar ul li a {
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
        }

        #sidebar ul li a:hover {
            color: rgb(6, 12, 34);
            background: #fff;
            transition: color 0.7s;
        }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: rgb(6, 12, 34);
            background: white;
        }
    </style>
{% endblock %}



{% block body %}
    <!--HEADER -->
    {% include 'main/header.html' %}

    <!--SIDEBAR1 -->
    {% include 'main/tutorial/sidebar_1.html' %}

    <!--CONTENT -->
    <h2 class="text-center body-color font-italic">Indentation and Comments</h2>
    <div class="container">
        <hr>
        <div class="mt-3 mb-4">
            <button class="prev" ><span><a class="text-white" href="{% url 'main:data_types' %}" target="_blank"> Previous</a></span></button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_print_function' %}" target="_blank">Next </a></span></button>
        </div>
        <br>
        <br>
        <div class="h5 text-info my-3"><strong>Section 1.1</strong>: Python <strong>Indentation</strong>
        </div>
        <p class="p-color p-size ml-3">The Python language has many similarities to C/C++ and Java. <br> However, there are
            some differences between the languages.

        </p>
        <p class="p-color p-size ml-3">
            <strong>Firstly,</strong> Python uses whitespace indentation, rather than curly brackets or keywords, to
            delimit blocks and make your code look pretty, smooth and easy to debug. An increase in indentation comes
            after certain statements; a decrease in indentation
            signifies the end of the current block.
        </p>
        <p class="p-color p-size ml-3"><strong>Indentation</strong> is mainly used under statements like <code>if</code>,&nbsp;<code>for</code>,&nbsp;<code>while</code>
            ,&nbsp;<code>try</code> and <code>class</code>. Meaning, The statements with the same indentation belong to
            the
            same group.</p>

        <p class="p-color p-size ml-3"><strong>In general,</strong> many programming languages (C/C++, Java) uses curly braces { } to
            define its contents. But, python breaks this golden rule and uses indentation instead. </p>

        <p class="command p-color pl-3 py-3 text-dark">
            <span class="text-danger">if</span> &nbsp;&nbsp; <span class="text-success">mood</span>&nbsp;==&nbsp;'bad' :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span>&nbsp;&nbsp;( ' Go back to sleep! ' )<br>
            <span class="text-danger">else</span> :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span>&nbsp;&nbsp;( ' Start making money! ' )
        </p>
        <ul class="my-3">
            <li style="list-style-type: square"><p class="p-size p-color mt-3">Another example of indentation in Class:</p>
      </li>
        </ul>
          <p class="command p-color pl-3 py-3 text-dark">
            <span class="text-danger">class</span> &nbsp;&nbsp;MoodClass :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-info">def</span>&nbsp;&nbsp;__init( )__ :<span class="text-secondary pl-4 font-italic">#  &nbsp;&nbsp;Every function belonging to a class must be indented <br></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-success">mood</span>&nbsp;=&nbsp;'Perfect!'<span
                    class="text-secondary pl-4 font-italic">#  &nbsp;&nbsp;Everything belonging to  __init__ function must be indented</span>
        </p>
        <hr>
        <p class="h4 my-3">Using spaces or tabs for indentation?</p>
        <p class="p-size p-color ml-3">It is highly recommended to use <a
                href="https://www.python.org/dev/peps/pep-0008/#tabs-or-spaces" class="text-danger font-italic">indentation as 4 spaces</a> but tabs or
            spaces can be used so long as they are consistent. <strong><br>Do not
                mix tabs and spaces</strong> in Python as this will cause an error in <a
                    href="http://stackoverflow.com/questions/2034517/pythons-interpretation-of-tabs-and-spaces-to-indent/25471702#25471702" class="text-dark font-italic font-weight-bold">Python
                3.x</a> and
            <a href="http://stackoverflow.com/questions/2034517/pythons-interpretation-of-tabs-and-spaces-to-indent/25471702#25471702" class="text-dark font-italic font-weight-bold">Python
                2.x</a></p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 1.2</strong>: <strong>Indentation Errors</strong> in Python</div>
        <p class="p-size p-color ml-3">Indentation must be uniform throughout statement.Otherwise, it will raise an
            <span class="text-danger">IndentationError</span> :</p>
        <p class="command pl-3 py-3 text-dark">
            a &nbsp;=&nbsp; <span class="text-danger">7</span> <br>
            <span class="text-danger">if &nbsp;&nbsp;</span> a > <span class="text-danger">5</span>&nbsp; :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( " Correct spacing " )<br>
            <span class="text-danger">else &nbsp;&nbsp;</span>: <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( " Correct spacing " )<br>
            &nbsp;&nbsp;<span class="text-danger">print</span> ( " Wrong spacing " )
        </p>
        <p class="p-size p-color mt-3 ml-3">Or if the line following a colon is not indented, an <span class="text-dark font-italic font-weight-bold">IndentationError</span>&nbsp;
            will
            also be raised :</p>
        <p class="command pl-3 py-3 text-dark">
            a &nbsp;=&nbsp; <span class="text-danger">7</span> <br>
            <span class="text-danger">if &nbsp;&nbsp;</span> a > <span class="text-danger">5</span>&nbsp; :<br>
            <span class="text-danger">print</span> ( " Wrong spacing " )<br>
        </p>
        <p class="p-size p-color mt-3 ml-3">If you add indentation where it doesn't belong, an
            <span class="text-dark font-italic font-weight-bold">IndentationError</span>&nbsp; will be
            raised :</p>
        <p class="command pl-3 py-3 text-dark">
            a &nbsp;=&nbsp; <span class="text-danger">7</span> <br>
            <span class="text-danger">if &nbsp;&nbsp;</span> a > <span class="text-danger">5</span>&nbsp; :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( " Correct spacing " )<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( " Wrong spacing " )<br>
        </p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 2.1</strong>: <strong>Comments</strong> in Python</div>
        <p class="p-size p-color ml-3">In general, comments are widely used to make the code readable and reusable.</p>
        <p class="p-size p-color ml-3">In big companies, one project will be developed by several software engineers and to
            make your source code
            look readable and understandable it's a good practise to use comments.</p>
        <p class="p-size p-color ml-3">Comments are ignored by compiler and will not raise any syntax error.</p>

        <ul>
            <li class="font-weight-bold my-3">Single line comment : <span class="text-secondary pl-5 font-italic"># this is single line comment. #(hash) is gonna be used.</span>
            </li>

            <li class="font-weight-bold">Multi line comment : <br>
                <p class="text-secondary pl-5 p-size p-color font-italic font-weight-bold">
                    """
                    This type of comment spans multiple lines.
                    These are mostly used for documentation and created through triple quotes.
                    """
                </p></li>
        </ul>
        <p class="p-size p-color ml-3 my-3">In summary, to create single line comment use <span
                class="text-danger"># (hash)</span>
            and for multi line comment use triple quote <span class="text-danger">""" . . . . """</span></p>

        <p class="command pl-3 py-3 text-dark">
            a &nbsp;=&nbsp; <span class="text-danger">7</span> <br>
            <span class="text-secondary font-italic"># This is simple single line comment and it does nothing, except making your code readable.</span><br>
            <span class="text-danger">if</span> &nbsp;&nbsp; a > <span class="text-danger">5</span>&nbsp; :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger pl-4">print</span> ( " Correct spacing " )
        </p>
        <br>
        <div class="mt-3 mb-4">
            <button class="prev" ><span><a class="text-white" href="{% url 'main:data_types' %}" target="_blank"> Previous</a></span></button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_print_function' %}" target="_blank">Next </a></span></button>
        </div>
        <br> <br> <br>
        <!--==========Schedule Section==============-->
        <section id="schedule" class="section-with-bg">
            <div class="container wow fadeInUp">

                <div class="tab-content row justify-content-center">
                    <div role="tabpanel" class="col-lg-9 tab-pane fade show active">
                        <div class="row schedule-item">
                            <div class="col-md-12">
                                <div class="speaker">
                                    <img src="{% static 'images/contributors/aziko.jpg' %}" alt="author image">
                                </div>
                                <h4>Written By : <span class="text-danger font-weight-bold">Azam Nurullaev</span></h4>
                                <p class="p-size"><span class="text-dark font-weight-bold">Quote : </span>Programming is
                                    the
                                    main bridge towards your future goals and I'm happy to help you achieve them.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="section-header my-3">
                    <p class="text-dark font-weight-bold my-3">Be part of our supreme family and share your knowledge
                        <img
                                src="{% static 'images/heart.ico' %}" alt="love" style="width: 25px; height: 25px;"></p>
                </div>

                <h3 class="sub-heading mt-5">
                    Be part of our super family by sharing your articles to <span class="text-danger font-weight-bold">nodira.org@gmail.com</span>
                    <br>
                    Your contributions are very important for us!
                    <br>
                    <br>
                    <strong>*</strong>Articles can be written on any topic
                </h3>

            </div>
        </section>

    </div>
    <!--END OF CONTENT -->


    <!--SIDEBAR2 -->
    {% include 'main/tutorial/sidebar_2.html' %}


    <!--FOOTER -->
    {% include 'main/footer.html' %}
{% endblock %}