{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    <title>Python Inheritance (Examples & Source Code)</title>
{% endblock %}
{% block css_link %}
    <link rel="stylesheet" href="{% static 'main/tutorial/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'main/tutorial/python/python_installing.css' %}">
    <style>

        #header {
            background: rgb(6, 12, 34);
        }

        p {
            font-weight: 400;
        }
        .bmc-button img {
            height: 34px !important;
            width: 35px !important;
            margin-bottom: 1px !important;
            box-shadow: none !important;
            border: none !important;
            vertical-align: middle !important;
        }
        .bmc-button {
            padding: 7px 15px 7px 10px !important;
            line-height: 35px !important;
            height: 51px !important;
            text-decoration: none !important;
            display: inline-flex !important;
            color: #ffffff !important;
            background-color: #FF5F5F !important;
            border-radius: 5px !important;
            border: 1px solid transparent !important;
            font-size: 26px !important;
            box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5) !important;
            -webkit-box-shadow: 0 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
            margin: 0 auto !important;
            letter-spacing: 1px;
            font-family: 'Cookie', cursive !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
        }


        .p-size {
            font-size: 1em;
        }

        .command {
            border: 1px solid lightslategrey;
            padding-left: 20px;
            padding-top: 13px;
            padding-bottom: 13px;
            font-size: 0.9em;
            font-weight: 500;

        }

        #sidebar ul li a {
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
        }

        #sidebar ul li a:hover {
            color: rgb(6, 12, 34);
            background: #fff;
            transition: color 0.7s;
        }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: rgb(6, 12, 34);
            background: white;
        }
    </style>
{% endblock %}


{% block body %}
    <!--HEADER -->
    {% include 'main/header.html' %}

    <!--SIDEBAR1 -->
    {% include 'main/tutorial/sidebar_1.html' %}

    <!--CONTENT -->

    <h2 class="text-center body-color font-italic">Python Inheritance</h2>
    <div class="container">
        <hr>
        <div class="mt-3 mb-4">
            <button class="prev"><span><a class="text-white" href="{% url 'main:python_urllib' %}" target="_blank"> Previous</a></span></button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_overloading' %}" target="_blank">Next </a></span></button>
        </div>
        <br>
        <br>
        <div class="h5 text-info my-3"><strong>Section 1.1</strong>: Python Inheritance Overview</div>
        <p class="p-color p-size pl-3">
            This section focuses on <span class="text-danger font-weight-bold">Inheritance</span> method and how to
            implement in Python projects.
        </p>
        <p class="p-color p-size pl-3">
            <span class="text-danger font-weight-bold">Inheritance </span> is a feature that allows a class to make a
            specific section of your project's code reusable with the possibility of adding or removing certain features
            later.</p>
        <p class="p-color p-size pl-3">
            Let's do some practice and learn about <span class="text-dark font-weight-bold"> inheritance </span>on
            a deep level.
        </p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 2.1</strong>: Python Inheritance Practice</div>
        <p class="p-color p-size pl-3">
            Let's create <span class="text-dark font-weight-bold">parent</span> and <span
                class="text-dark font-weight-bold">child</span> class that uses inheritance for code reusability : </p>
        <p class="command p-size my-3">

            <span class="text-danger">class</span>&nbsp;&nbsp; Figure :<span class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp;defining Parent class</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">def</span>&nbsp;&nbsp; <span
                class="text-info">__init__</span> ( <span class="text-success">self</span> , width , height ) :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-success">self</span>.width &nbsp;=&nbsp;
            width<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-success">self</span>.height &nbsp;=&nbsp;
            height<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">def</span>&nbsp;&nbsp; product ( <span
                class="text-success">self</span> ) :<span
                class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp;defining a simple method</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span>&nbsp;( <span
                class="text-success">self</span>.width * <span
                class="text-success">self</span>.height )<br>
            <br>
            <span class="text-danger">class</span>&nbsp;&nbsp; Rectangle ( Figure ) :<span class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp;inheriting Parent class</span><br>

            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">pass</span><span class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp;inherits all features of Parent Class</span><br><br>
            figure &nbsp;=&nbsp; <span class="text-danger">Figure</span> ( <span class="text-info">5</span> , <span
                class="text-info">6</span> )<br>
            rectangle &nbsp;=&nbsp; <span class="text-danger">Rectangle</span> (<span class="text-info">3</span> , <span
                class="text-info">4</span> )<br>
            <br>
            <span class="text-danger">print</span>&nbsp;( figure.<span class="text-danger">width</span> )<span
                class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp; 5</span><br>
            <span class="text-danger">print</span>&nbsp;( figure.<span class="text-danger">height</span> ) <span
                class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp; 6</span> <br>
            <br>
            <span class="text-danger">print</span>&nbsp;( rectangle.<span class="text-danger">width</span> )<span
                class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp; 3</span><br>
            <span class="text-danger">print</span>&nbsp;( rectangle.<span class="text-danger">height</span> ) <span
                class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp; 4</span> <br>
            <br>
            figure.<span class="text-danger">product</span> ( &nbsp;)<span class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp; 30</span><br>
            rectangle.<span class="text-danger">product</span> ( &nbsp;)<span class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp; 12</span><br>
        </p>

        <hr>
        <div class="h5 text-info my-3"><strong>Section 2.2</strong>: Python Multiple Inheritance Practice</div>
        <p class="p-color p-size pl-3">
            Let's <span class="text-dark font-weight-bold">inherit multiple classes</span> and see how it works :</p>
        <p class="command p-size my-3">

            <span class="text-danger">class</span>&nbsp;&nbsp; ClassA :<span class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp;defining Parent class</span><br>

            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">def</span>&nbsp;&nbsp; a ( <span
                class="text-success">self</span> ) :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span>&nbsp;( <span
                class="text-info">" I am Class A "</span>
            )<br>
            <br>
            <span class="text-danger">class</span>&nbsp;&nbsp; ClassB ( ) : <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">def</span>&nbsp;&nbsp; b ( <span
                class="text-success">self</span> ) :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span>&nbsp;( <span
                class="text-info">" I am Class B "</span>
            )<br>
            <br>
            <span class="text-danger">class</span>&nbsp;&nbsp; ClassC ( ClassA , ClassB ) :<span
                class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp;inheriting ClassA and ClassB</span><br>

            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">def</span>&nbsp;&nbsp; c ( <span
                class="text-success">self</span> ) :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span>&nbsp;( <span
                class="text-info">" I am Class C "</span>
            )<br>

            <br>

            x &nbsp;=&nbsp; <span class="text-danger">ClassC</span> ( &nbsp;) <br>
            x.<span class="text-danger">a</span>( &nbsp;) <span
                class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp; I am Class A </span><br>
            x.<span class="text-danger">b</span>( &nbsp;) <span
                class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp; I am Class B </span><br>
            x.<span class="text-danger">c</span>( &nbsp;) <span
                class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp; I am Class C </span><br>
        </p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 2.3</strong>: Python <strong>super ( )</strong> function</div>
        <p class="p-color p-size pl-3">
            <span class="text-danger font-weight-bold">super </span>( ) function is used to refer <span
                class="text-dark font-weight-bold">parent</span> class :
        </p>
        <p class="command p-size my-3">

            <span class="text-danger">class</span>&nbsp;&nbsp; A :<span class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp;defining Parent class</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">def</span>&nbsp;&nbsp; <span
                class="text-info">__init__</span> ( <span class="text-success">self</span> , name ) :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( name , <span
                class="text-info">" is cool!"</span> )
            <br>
            <br>
            <span class="text-danger">class</span>&nbsp;&nbsp; B ( A ) : <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">def</span>&nbsp;&nbsp; <span
                class="text-info">__init__</span> ( <span class="text-success">self</span> ) :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( <span
                class="text-info">"I am happy!"</span> ) <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">super</span> (&nbsp; ).<span
                class="text-info">__init__</span> ( 'Java' ) <span class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;&nbsp; refers to parent class constructor</span>
            <br>
            <br>
            x &nbsp;=&nbsp; <span class="text-danger">B</span> ( &nbsp;) <br>

            <span class="text-secondary"># &nbsp;&nbsp;&nbsp;&nbsp;I am happy!</span> <br>
            <span class="text-secondary"># &nbsp;&nbsp;&nbsp;&nbsp;Java  is cool!</span> <br>
        </p>
        <hr>
     <div class="h5 text-info my-3"><strong>Section 3.1</strong>: Inheritance Conclusion</div>
        <p class="p-color p-size pl-3 my-3">
            <span class="text-danger font-weight-bold">Inheritance</span> is the ability to to inherit the properties of another class. </p>
        <div class="h5 text-info my-3">Advantages of Inheritance</div>
        <ul>
            <li><p class="p-color p-size pl-3 my-3">It supports DRY ( Don't Repeat Yourself ) method making your code (
                classes, methods ) reusable.</p></li>
            <li><p class="p-color p-size pl-3 my-3">Reusable methods between parent class and child classes.</p></li>
            <li><p class="p-color p-size pl-3 my-3">Less memory storage and optimization of the execution time.</p></li>
            <li><p class="p-color p-size pl-3 my-3">Repetition of the code is reduced & minimized so that it results to code consistency and cleanliness.</p></li>
        </ul>
    <div class="h5 text-info my-3">Disadvantages of Inheritance</div>
        <ul>
            <li><p class="p-color p-size pl-3 my-3">Hard to evolve and maintain complex class hierarchies.</p></li>
            <li><p class="p-color p-size pl-3 my-3">It results in a very tight binding between a superclass and its subclasses.</p></li>
            <li><p class="p-color p-size pl-3 my-3">Inheritance relationships generally can't be altered at runtime.</p></li>
        </ul>
<br>
         <div class="mt-3 mb-4">
            <button class="prev"><span><a class="text-white" href="{% url 'main:python_urllib' %}" target="_blank"> Previous</a></span></button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_overloading' %}" target="_blank">Next </a></span></button>
        </div>
        <br> <br> <br>
        <!--==========Schedule Section==============-->
        <section id="schedule" class="section-with-bg">
            <div class="container wow fadeInUp">

                <div class="tab-content row justify-content-center">
                    <div role="tabpanel" class="col-lg-9 tab-pane fade show active">
                        <div class="row schedule-item">
                            <div class="col-md-12">
                                <div class="speaker">
                                    <img src="{% static 'images/contributors/aziko.jpg' %}" alt="author image">
                                </div>
                                <h4>Written By : <span class="text-danger font-weight-bold">Azam Nurullaev</span></h4>
                                <p class="p-size"><span class="text-dark font-weight-bold">Quote : </span>Programming is
                                    the
                                    main bridge towards your future goals and I'm happy to help you achieve them.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="section-header my-3">
                    <p class="text-dark font-weight-bold my-3">Be part of our supreme family and share your knowledge
                        <img
                                src="{% static 'images/heart.ico' %}" alt="love" style="width: 25px; height: 25px;"></p>
                </div>

                <h3 class="sub-heading mt-5">
                    Be part of our super family by sharing your articles to <span class="text-danger font-weight-bold">nodira.org@gmail.com</span>
                    <br>
                    Your contributions are very important for us!
                    <br>
                    <br>
                    <strong>*</strong>Articles can be written on any topic
                </h3>

            </div>
        </section>

    </div>


    <!--SIDEBAR2 -->
    {% include 'main/tutorial/sidebar_2.html' %}


    <!--FOOTER -->
    {% include 'main/footer.html' %}
{% endblock %}