{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    <title>Python Multithreading (Examples & Source Code)</title>
{% endblock %}
{% block css_link %}
    <link rel="stylesheet" href="{% static 'main/tutorial/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'main/tutorial/python/python_installing.css' %}">
    <style>

        #header {
            background: rgb(6, 12, 34);
        }

        p {
            font-weight: 400;
        }
        .bmc-button img {
            height: 34px !important;
            width: 35px !important;
            margin-bottom: 1px !important;
            box-shadow: none !important;
            border: none !important;
            vertical-align: middle !important;
        }
        .bmc-button {
            padding: 7px 15px 7px 10px !important;
            line-height: 35px !important;
            height: 51px !important;
            text-decoration: none !important;
            display: inline-flex !important;
            color: #ffffff !important;
            background-color: #FF5F5F !important;
            border-radius: 5px !important;
            border: 1px solid transparent !important;
            font-size: 26px !important;
            box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5) !important;
            -webkit-box-shadow: 0 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
            margin: 0 auto !important;
            letter-spacing: 1px;
            font-family: 'Cookie', cursive !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
        }


        .p-size {
            font-size: 1em;
        }

        .command {
            border: 1px solid lightslategrey;
            padding-left: 20px;
            padding-top: 13px;
            padding-bottom: 13px;
            font-size: 0.9em;
            font-weight: 500;

        }

        #sidebar ul li a {
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
        }

        #sidebar ul li a:hover {
            color: rgb(6, 12, 34);
            background: #fff;
            transition: color 0.7s;
        }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: rgb(6, 12, 34);
            background: white;
        }
    </style>
{% endblock %}


{% block body %}
    <!--HEADER -->
    {% include 'main/header.html' %}

    <!--SIDEBAR1 -->
    {% include 'main/tutorial/sidebar_1.html' %}

    <!--CONTENT -->

    <h2 class="text-center body-color font-italic">Python Multithreading</h2>
    <div class="container">
        <hr>
        <div class="mt-3 mb-4">
            <button class="prev"><span><a class="text-white" href="{% url 'main:python_multiprocessing' %}" > Previous</a></span></button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_networking' %}" >Next </a></span></button>
        </div>
        <br>
        <br>
        <div class="h5 text-info my-3"><strong>Section 1.1</strong>: Python Multithreading Overview</div>
        <p class="p-color p-size pl-3">
            This section focuses on <span class="text-danger font-weight-bold">Python Multithreading</span> and how to
            implement in Python projects.
        </p>
        <p class="p-color p-size pl-3">
            <span class="text-danger font-weight-bold">Multithreading </span> is a feature that allows a a program to
            run multiple tasks concurrently which is very useful for heavy data processing or tasks which rely on
            external factors, such as slower storage or internet services.</p>
        <p class="p-color p-size pl-3">
            Let's do some practice and learn about <span
                class="text-dark font-weight-bold"> Python Multithreading </span>
            and how to implement & understand them on a deep level.
        </p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 2.1</strong>: Python Multithreading - Part 1</div>
        <p class="p-color p-size pl-3">
            <span class="text-danger font-weight-bold">Multithreading </span> is a process of executing multiple threads
            simultaneously :
        </p>
        <p class="command p-size my-3">
            <span class="text-danger">import</span>&nbsp;&nbsp; threading <br><br>
            <span class="text-danger">def</span>&nbsp;&nbsp; main ( &nbsp;) : <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( <span
                class="text-info">"Hello World!"</span> ) <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( <span class="text-info">"Simple Threading Program"</span>
            ) <br><br>
            my_thread &nbsp;=&nbsp; <span class="text-danger">threading</span>.Thread ( <span class="text-success">target</span>
            &nbsp;=&nbsp; main ) <br>
            my_thread.<span class="text-danger">start</span> ( &nbsp;) <br><br>
            <span class="text-secondary"># &nbsp;&nbsp;&nbsp;Hello World!</span><br>
            <span class="text-secondary"># &nbsp;&nbsp;&nbsp;Simple Threading Program</span><br>
        </p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 2.2</strong>: Python Multithreading - Part 2</div>

        <p class="p-color p-size pl-3 my-3">
            Let's see one more example to learn more about <span
                class="text-dark font-weight-bold">Python Threading</span> on a deep level :
        </p>
        <p class="command p-size my-3">
            <span class="text-danger">import</span>&nbsp;&nbsp; threading <br><br>
            <span class="text-danger">def</span>&nbsp;&nbsp; main_thread ( number) : <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( <span
                class="text-info">" Thread number : "</span> , number ) <br>
            <br>
            my_threads &nbsp;=&nbsp; [ &nbsp;] <br>
            <span class="text-danger">for</span>&nbsp;&nbsp;x &nbsp;&nbsp;<span class="text-danger">in</span>&nbsp;&nbsp;<span
                class="text-success">range </span> ( <span class="text-info">5</span> ) :
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;thread &nbsp;=&nbsp; threading.<span class="text-danger">Thread</span> ( <span
                class="text-success">target</span> &nbsp;=&nbsp; main_thread , args &nbsp;=&nbsp; ( x , ) ) <br>
            &nbsp;&nbsp;&nbsp;&nbsp;my_threads.<span class="text-danger">append</span> ( x )<br>
            &nbsp;&nbsp;&nbsp;&nbsp;thread.<span class="text-danger">start</span> (&nbsp; )<br><br>
            <span class="text-secondary"># &nbsp;&nbsp;&nbsp;Thread number :  0</span><br>
            <span class="text-secondary"># &nbsp;&nbsp;&nbsp;Thread number :  1</span><br>
            <span class="text-secondary"># &nbsp;&nbsp;&nbsp;Thread number :  2</span><br>
            <span class="text-secondary"># &nbsp;&nbsp;&nbsp;Thread number :  3</span><br>
            <span class="text-secondary"># &nbsp;&nbsp;&nbsp;Thread number :  4</span><br>
        </p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 2.3</strong>: Python Multithreading - Part 3</div>
        <p class="p-color p-size pl-3 my-3">
            Now let's see an example where we use <span class="text-danger">start</span> (&nbsp; ) and <span
                class="text-danger">join </span>( &nbsp;) functions :
        </p>
        <p class="command p-size my-3">
            <span class="text-danger">import</span>&nbsp;&nbsp; threading , os<br><br>
            <span class="text-danger">def</span>&nbsp;&nbsp; main_process ( &nbsp;) : <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> (<span
                class="text-info">" Thread number : <span class="text-dark">{}</span> and Process number : <span
                class="text-dark">{}</span>".<span class="text-danger">format</span><span class="text-dark"> ( <span
                class="text-danger">threading</span>.current_thread( &nbsp;).name , <span class="text-danger">os</span>.getpid ( &nbsp;) )</span></span>
            ) <br>
            <br>
            my_threads &nbsp;=&nbsp; [ threading.<span class="text-danger">Thread</span> ( <span class="text-success">target</span>
            &nbsp;=&nbsp; main_process ) &nbsp;&nbsp;for&nbsp;&nbsp; _&nbsp;&nbsp; in&nbsp;&nbsp; <span
                class="text-success">range</span> ( <span class="text-danger">3</span> ) ] <br>
            <span class="text-danger">for</span>&nbsp;&nbsp;thread &nbsp;&nbsp;<span class="text-danger">in</span>&nbsp;&nbsp;
            my_threads :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;thread.<span class="text-danger">start</span> (&nbsp; ) <br>
            <span class="text-danger">for</span>&nbsp;&nbsp;thread &nbsp;&nbsp;<span class="text-danger">in</span>&nbsp;&nbsp;
            my_threads :<br>
            &nbsp;&nbsp;&nbsp;&nbsp;thread.<span class="text-danger">join</span> (&nbsp; ) <br>
            <br>

            <span class="text-secondary"># &nbsp;&nbsp;&nbsp;Thread number : Thread-1 and Process number : 6898 </span><br>
            <span class="text-secondary"># &nbsp;&nbsp;&nbsp; Thread number : Thread-2 and Process number : 6898 </span><br>
            <span class="text-secondary"># &nbsp;&nbsp;&nbsp;Thread number : Thread-3 and Process number : 6898 </span><br>

        </p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 3.1</strong>: Multithreading Advantages - Why We Need ?</div>
        <p class="p-color p-size pl-3">
            In Python, <span class="text-danger font-weight-bold"> multithreading</span> is the ability of a program or
            an
            operating system process to manage its use by
            more than one user at a time and to even manage multiple requests by the same user without having to have
            multiple copies of the programming running in the computer.
        </p>
        <ul class="ml-3">
            <li><p class="p-color p-size pl-3"><span class="text-dark font-weight-bold">Thread is lightweight</span> -
                This is a real problem in highly scalable
                servers, so they don't use threads as if they were lightweight at all. They treat them as heavyweight
                resources. They might instead create a limited number of threads in a pool, and let them take work items
                from a queue.</p>
            </li>
            <li>
                <p class="p-color p-size pl-3"><span class="text-dark font-weight-bold">Sharing the same memory</span> -
                    Within the shared memory, each thread gets its own stack. Each thread has its own instruction
                    pointer and registers. Since the memory is shared, it is important to note that there is no memory
                    protection among the threads in a process.</p>
            </li>

            <li>
                <p class="p-color p-size pl-3"><span class="text-dark font-weight-bold">Saving execution time</span> -
                    In the scenario of multithreading, program execution can be faster. Multithreading method can't
                    guarantee any significant change, but there's a real chance that it'll slow the processing down,
                    because otherwise there's a cost for the program.
                </p>
            </li>
        </ul>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 3.2</strong>: Multithreading Disadvantages - When We Don't Need ?
        </div>
        <p class="p-color p-size pl-3">
            In general, when we'r using <span class="text-danger font-weight-bold">Multithreading</span> in Python, we
            have to deal with multiple threads, which means it's not going to be easy. Therefore, all threads of data
            flow within a function will
            run altogether making it hard to debug.
        </p>

        <ul class="ml-3">
            <li><p class="p-color p-size pl-3"><span class="text-dark font-weight-bold">Difficulty of debugging</span> -
                It is much harder to replicate an error in a multithreaded program than it's to
                do so in a single-threaded program. As a result, it is more difficult, in the
                former case, to identify and verify root causes when errors occur.
            </p>
            </li>
            <li>
                <p class="p-color p-size pl-3"><span
                        class="text-dark font-weight-bold">Difficulty of optimization</span> -
                    Existing code often requires significant re-architecting to take advantage of multithreading.
                    Let's suppose in real world projects a single program can have 1000+ files and trying to understand
                    and make a single change may cause to lots of errors.</p>
            </li>

            <li>
                <p class="p-color p-size pl-3"><span class="text-dark font-weight-bold">Difficulty of testing</span> -
                    Later on in our course we have an article which focuses on testing your Python code during
                    development process. But, make sure that testing multithreaded program is not going to be simple.
                    It's super hard and requires complex logic.
                </p>
            </li>
        </ul>
<br>
          <div class="mt-3 mb-4">
            <button class="prev"><span><a class="text-white" href="{% url 'main:python_multiprocessing' %}" > Previous</a></span></button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_networking' %}" >Next </a></span></button>
        </div>
        <br> <br> <br>
        <!--==========Schedule Section==============-->
        <section id="schedule" class="section-with-bg">
            <div class="container wow fadeInUp">

                <div class="tab-content row justify-content-center">
                    <div role="tabpanel" class="col-lg-9 tab-pane fade show active">
                        <div class="row schedule-item">
                            <div class="col-md-12">
                                <div class="speaker">
                                    <img src="{% static 'images/contributors/aziko.jpg' %}" alt="author image">
                                </div>
                                <h4>Written By : <span class="text-danger font-weight-bold">Azam Nurullaev</span></h4>
                                <p class="p-size"><span class="text-dark font-weight-bold">Quote : </span>Programming is
                                    the
                                    main bridge towards your future goals and I'm happy to help you achieve them.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="section-header my-3">
                    <p class="text-dark font-weight-bold my-3">Be part of our supreme family and share your knowledge
                        <img
                                src="{% static 'images/heart.ico' %}" alt="love" style="width: 25px; height: 25px;"></p>
                </div>

                <h3 class="sub-heading mt-5">
                    Be part of our super family by sharing your articles to <span class="text-danger font-weight-bold">nodira.org@gmail.com</span>
                    <br>
                    Your contributions are very important for us!
                    <br>
                    <br>
                    <strong>*</strong>Articles can be written on any topic
                </h3>

            </div>
        </section>


    </div>


    <!--SIDEBAR2 -->
    {% include 'main/tutorial/sidebar_2.html' %}


    <!--FOOTER -->
    {% include 'main/footer.html' %}
{% endblock %}