{% extends 'main/base.html' %}
{% load static %}
{% block css_link %}
    <link rel="stylesheet" href="{% static 'main/tutorial/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'main/tutorial/python/python_installing.css' %}">
    <style>

        #header {
            background: rgb(6, 12, 34);
        }

        p {
            font-weight: 400;
        }
        .bmc-button img {
            height: 34px !important;
            width: 35px !important;
            margin-bottom: 1px !important;
            box-shadow: none !important;
            border: none !important;
            vertical-align: middle !important;
        }
        .bmc-button {
            padding: 7px 15px 7px 10px !important;
            line-height: 35px !important;
            height: 51px !important;
            text-decoration: none !important;
            display: inline-flex !important;
            color: #ffffff !important;
            background-color: #FF5F5F !important;
            border-radius: 5px !important;
            border: 1px solid transparent !important;
            font-size: 26px !important;
            box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5) !important;
            -webkit-box-shadow: 0 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
            margin: 0 auto !important;
            letter-spacing: 1px;
            font-family: 'Cookie', cursive !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
        }


        .p-size {
            font-size: 1em;
        }

        .command {
            border: 1px solid lightslategrey;
            padding-left: 20px;
            padding-top: 13px;
            padding-bottom: 13px;
            font-size: 0.9em;
            font-weight: 500;

        }

        #sidebar ul li a {
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
        }

        #sidebar ul li a:hover {
            color: rgb(6, 12, 34);
            background: #fff;
            transition: color 0.7s;
        }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: rgb(6, 12, 34);
            background: white;
        }
    </style>
{% endblock %}


{% block body %}
    <!--HEADER -->
    {% include 'main/header.html' %}

    <!--SIDEBAR1 -->
    {% include 'main/tutorial/sidebar_1.html' %}

    <!--CONTENT -->

    <h2 class="text-center body-color font-italic">Python Overloading Methods</h2>
    <div class="container">
        <hr>
        <div class="mt-3 mb-4">
            <button class="prev"><span><a class="text-white" href="{% url 'main:python_inheritance' %}" target="_blank"> Previous</a></span></button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_overriding' %}" target="_blank">Next </a></span></button>
        </div>
        <br>
        <br>
        <div class="h5 text-info my-3"><strong>Section 1.1</strong>: Python Overloading Overview</div>
        <p class="p-color p-size pl-3">
            This section focuses on <span class="text-danger font-weight-bold">Overloading</span> method and how to
            implement in Python projects.
        </p>
        <p class="p-color p-size pl-3">
            <span class="text-danger font-weight-bold">Overloading </span> is a feature that allows a class to have more
            than one <span class="text-dark font-weight-bold">method</span> having the same name, if their argument
            lists are different.</p>
        <p class="p-color p-size pl-3">
            Let's do some practice and learn about <span class="text-dark font-weight-bold"> overloading </span>on
            a deep level.
        </p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 2.1</strong>: Python Overloading Practice - Part 1</div>
        <div class="h5 text-info my-3"><strong>Method Overloading:</strong> Changing number of arguments</div>
        <p class="p-color p-size pl-3">
            Let's create <span class="text-danger font-weight-bold">2</span> functions with <u>the same name</u> and see
            what happens : </p>
        <p class="command p-size my-3">
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Simple example of Overloading</span><br>
            <br>
            <span class="text-secondary"># &nbsp;&nbsp;this function takes 2 arguments </span><br>
            <span class="text-danger">def</span> &nbsp;&nbsp;<span class="text-info">product</span> ( a , b ) : <br>
            &nbsp;&nbsp;&nbsp;&nbsp;output &nbsp;=&nbsp; a <span class="text-danger">*</span> b <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( output )<br>
            <br>

            <span class="text-secondary"># &nbsp;&nbsp;this function takes 3 arguments </span><br>

            <span class="text-danger">def</span> &nbsp;&nbsp;<span class="text-info">product</span> ( a , b , c ) : <br>
            &nbsp;&nbsp;&nbsp;&nbsp;output &nbsp;=&nbsp; a <span class="text-danger">*</span> b <span
                class="text-danger">*</span> c<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( output )<br>
            <br>
            <span class="text-info">product</span> ( <span class="text-danger">3</span> , <span
                class="text-danger">4</span> ) <span
                class="text-secondary pl-4"># &nbsp;&nbsp;12 &nbsp;&nbsp;( 1<sup>st</sup> function is executed )  </span><br>
            <span class="text-info">product</span> ( <span class="text-danger">4</span> , <span
                class="text-danger">5</span> , <span class="text-danger">6</span> )<span class="text-secondary pl-4"># &nbsp;&nbsp;120 &nbsp;&nbsp;( 2<sup>nd</sup> function is executed ) </span><br>
            <span class="text-info">product</span> ( <span class="text-danger">4</span> , <span
                class="text-danger">5</span> , <span class="text-danger">6</span> , <span class="text-danger">7</span> )<span
                class="text-secondary pl-4"># &nbsp;&nbsp;TypeError :&nbsp;&nbsp; product ( &nbsp;) takes 3 positional arguments but 4 were given </span><br>

        </p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 2.2</strong>: Python Overloading Practice - Part 2</div>
        <div class="h5 text-info my-3"><strong>Method Overloading:</strong> Changing data type of arguments</div>
        <p class="command p-size my-3">pip3&nbsp;&nbsp; install&nbsp;&nbsp; <span class="text-danger font-weight-bold">multipledispatch</span><span
                class="text-secondary pl-4"># &nbsp;&nbsp;&nbsp;Installing Multiple Dispatch Decorator</span></p>
        <p class="p-color p-size pl-3">
            Let's create several functions with <u>the same name</u> , but different arguments :</p>
        <p class="command p-size my-3">
            from&nbsp;&nbsp; <span class="text-danger">multipledispatch</span>&nbsp;&nbsp; import&nbsp;&nbsp; <span
                class="text-danger">dispatch</span> <br>
            <br>
            <span class="text-secondary"># &nbsp;&nbsp;Function invokes when takes 2 integer numbers </span><br>
            @<span class="text-success">dispatch</span> ( <span class="text-danger">int</span> , <span
                class="text-danger">int</span> ) <br>
            <span class="text-danger">def</span> &nbsp;&nbsp;<span class="text-info">product</span> ( a , b ) : <br>
            &nbsp;&nbsp;&nbsp;&nbsp;output &nbsp;=&nbsp; a <span class="text-danger">*</span> b <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( output )<br>
            <br>

            <span class="text-secondary"># &nbsp;&nbsp;Function invokes when takes 2 floating point numbers </span><br>
            @<span class="text-success">dispatch</span> ( <span class="text-danger">float</span> , <span
                class="text-danger">float</span> ) <br>
            <span class="text-danger">def</span> &nbsp;&nbsp;<span class="text-info">product</span> ( a , b ) : <br>
            &nbsp;&nbsp;&nbsp;&nbsp;output &nbsp;=&nbsp; a <span class="text-danger">*</span> b <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( output )<br>
            <br>
            <span class="text-secondary"># &nbsp;&nbsp;Function invokes when takes 1<sup>st</sup> integer number , 2<sup>nd</sup> float number </span><br>
            @<span class="text-success">dispatch</span> ( <span class="text-danger">int</span> , <span
                class="text-danger">float</span> ) <br>
            <span class="text-danger">def</span> &nbsp;&nbsp;<span class="text-info">product</span> ( a , b ) : <br>
            &nbsp;&nbsp;&nbsp;&nbsp;output &nbsp;=&nbsp; a <span class="text-danger">*</span> b <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( output )<br>
            <br>
            <span class="text-secondary"># &nbsp;&nbsp;Function invokes when takes 1<sup>st</sup> float number , 2<sup>nd</sup> integer number </span><br>
            @<span class="text-success">dispatch</span> ( <span class="text-danger">float</span> , <span
                class="text-danger">int</span> ) <br>
            <span class="text-danger">def</span> &nbsp;&nbsp;<span class="text-info">product</span> ( a , b ) : <br>
            &nbsp;&nbsp;&nbsp;&nbsp;output &nbsp;=&nbsp; a <span class="text-danger">*</span> b <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span> ( output )<br>
            <br>
            <span class="text-info">product</span> ( <span class="text-danger">3</span> , <span
                class="text-danger">4</span> ) <span
                class="text-secondary pl-4"># &nbsp;&nbsp;12 &nbsp;&nbsp;( 1<sup>st</sup> function is executed )  </span><br>
            <span class="text-info">product</span> ( <span class="text-danger">3.5</span> , <span
                class="text-danger">4.5</span> )<span
                class="text-secondary pl-4"># &nbsp;&nbsp;15.75 &nbsp;&nbsp;( 2<sup>nd</sup> function is executed ) </span><br>
            <span class="text-info">product</span> ( <span class="text-danger">3</span> , <span
                class="text-danger">4.5</span> )<span
                class="text-secondary pl-4"># &nbsp;&nbsp;13.5&nbsp;&nbsp; ( 3<sup>rd</sup> function is executed ) </span><br>
            <span class="text-info">product</span> ( <span class="text-danger">3.5</span> , <span
                class="text-danger">4</span> )<span
                class="text-secondary pl-4"># &nbsp;&nbsp;14&nbsp;&nbsp; ( 4<sup>th</sup> function is executed ) </span><br>
            <span class="text-info">product</span> ( <span class="text-danger">3</span> , <span
                class="text-danger">4</span> , <span class="text-danger">5</span> )<span
                class="text-secondary pl-4"># &nbsp;&nbsp;TypeError :&nbsp;&nbsp; product ( &nbsp;) takes 2 positional arguments but 3 were given </span><br>


        </p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 2.3</strong>: Overloading Conclusion</div>
        <p class="p-color p-size pl-3 my-3">
            <span class="text-danger font-weight-bold">Overloading</span> is the class having methods that are the same
            name with different arguments. Arguments different will be based on a number of arguments and types of
            arguments. It is used in a single class. It is also used to write the code clarity as well as reduce
            complexity. </p>
        <div class="h5 text-info my-3">Advantages of Overloading</div>
        <ul>
            <li><p class="p-color p-size pl-3 my-3">It supports readability making your code (
                classes, methods ) reusable and clean.</p></li>
            <li><p class="p-color p-size pl-3 my-3">Flexibility to call a similar method for different types of
                data.</p></li>
            <li><p class="p-color p-size pl-3 my-3">It is used on constructors to create new objects given
                different amounts of data.</p></li>
        </ul>
        <div class="h5 text-info my-3">Disadvantages of Overloading</div>
        <ul>
            <li><p class="p-color p-size pl-3 my-3">Waste of time to write and maintain thousands lines of code. </p></li>
            <li><p class="p-color p-size pl-3 my-3">Hard to maintain, whereas in new scenarios you need write more and more new functions.</p></li>
        </ul>
<br>
         <div class="mt-3 mb-4">
            <button class="prev"><span><a class="text-white" href="{% url 'main:python_inheritance' %}" target="_blank"> Previous</a></span></button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_overriding' %}" target="_blank">Next </a></span></button>
        </div>
        <br> <br> <br>
        <!--==========Schedule Section==============-->
        <section id="schedule" class="section-with-bg">
            <div class="container wow fadeInUp">

                <div class="tab-content row justify-content-center">
                    <div role="tabpanel" class="col-lg-9 tab-pane fade show active">
                        <div class="row schedule-item">
                            <div class="col-md-12">
                                <div class="speaker">
                                    <img src="{% static 'images/contributors/aziko.jpg' %}" alt="author image">
                                </div>
                                <h4>Written By : <span class="text-danger font-weight-bold">Azam Nurullaev</span></h4>
                                <p class="p-size"><span class="text-dark font-weight-bold">Quote : </span>Programming is
                                    the
                                    main bridge towards your future goals and I'm happy to help you achieve them.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="section-header my-3">
                    <p class="text-dark font-weight-bold my-3">Be part of our supreme family and share your knowledge
                        <img
                                src="{% static 'images/heart.ico' %}" alt="love" style="width: 25px; height: 25px;"></p>
                </div>

                <h3 class="sub-heading mt-5">
                    Be part of our super family by sharing your articles to <span class="text-danger font-weight-bold">nodira.org@gmail.com</span>
                    <br>
                    Your contributions are very important for us!
                    <br>
                    <br>
                    <strong>*</strong>Articles can be written on any topic
                </h3>

            </div>
        </section>

    </div>


    <!--SIDEBAR2 -->
    {% include 'main/tutorial/sidebar_2.html' %}


    <!--FOOTER -->
    {% include 'main/footer.html' %}
{% endblock %}
