{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    <title>Python Function (Examples & Source Code)</title>
{% endblock %}
{% block meta_description %}
    <meta name="description"
          content="Python Function | Function is a set of organized and reusable actions that will perform specific operation once it's called. We'll learn how to create & define arguments in Python Functions.">
{% endblock %}
{% block css_link %}
    <link rel="stylesheet" href="{% static 'main/tutorial/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'main/tutorial/python/python_installing.css' %}">
    <style>
        #header {
            background: rgb(6, 12, 34);
        }

        p {
            font-weight: 400;
        }
        .bmc-button img {
            height: 34px !important;
            width: 35px !important;
            margin-bottom: 1px !important;
            box-shadow: none !important;
            border: none !important;
            vertical-align: middle !important;
        }
        .bmc-button {
            padding: 7px 15px 7px 10px !important;
            line-height: 35px !important;
            height: 51px !important;
            text-decoration: none !important;
            display: inline-flex !important;
            color: #ffffff !important;
            background-color: #FF5F5F !important;
            border-radius: 5px !important;
            border: 1px solid transparent !important;
            font-size: 26px !important;
            box-shadow: 0 1px 2px rgba(190, 190, 190, 0.5) !important;
            -webkit-box-shadow: 0 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
            margin: 0 auto !important;
            letter-spacing: 1px;
            font-family: 'Cookie', cursive !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
        }


        .serif {
            font-family: "Times New Roman", Times, serif;
        }

        .p-size {
            font-size: 1em;
        }

        .command {
            border: 1px solid lightslategrey;
            padding-left: 20px;
            padding-top: 13px;
            padding-bottom: 13px;
            font-size: .9em;
            font-weight: bold;
        }

        #sidebar ul li a {
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
        }

        #sidebar ul li a:hover {
            color: rgb(6, 12, 34);
            background: #fff;
            transition: color 0.7s;
        }

        #sidebar ul li.active > a, a[aria-expanded="true"] {
            color: rgb(6, 12, 34);
            background: white;
        }
    </style>
{% endblock %}


{% block body %}
    <!--HEADER -->
    {% include 'main/header.html' %}

    <!--SIDEBAR1 -->
    {% include 'main/tutorial/sidebar_1.html' %}

    <!--CONTENT -->

    <h2 class="text-center body-color font-italic">Python Function</h2>
    <div class="container">
        <hr>
        <div class="mt-3 mb-4">
            <button class="prev" ><span><a class="text-white" href="{% url 'main:python_os_path' %}" > Previous</a></span></button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_lambda' %}" >Next </a></span></button>
        </div>
        <br>
        <br>
        <div class="h5 text-info my-3"><strong>Section 1.1</strong>: <strong>Python Function</strong> Overview</div>
        <p class="p-color p-size ml-3">
            <span class="text-danger font-weight-bold">Function</span> is a set of organized and reusable actions that will perform specific operation once it's called.
        </p>
        <p class="p-color p-size ml-3">
            Python already provides built-in functions such as <span class="text-danger">input</span> ( ) , <span
                class="text-danger">print</span> ( ) , <span class="text-danger">len</span> ( ) and so on. However, you
            can also create your own functions (<em>defined as</em> <span class="text-danger">def</span>).
        </p>
        <ul>
            <li>
                <p class="p-color p-size font-italic">Note that the body content of your function <strong>must be
                    indented</strong>, otherwise error raises.</p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-danger">def </span> <span class="text-dark"> function_name (</span><span
                class="text-info"> parameters</span> <span class="text-dark">) :</span>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-secondary font-italic"># &nbsp;&nbsp;some logic goes here</span>
        </p>
        <hr>
        <div class="h5 text-info"><strong>Section 2.1</strong>: Defining Simple Functions</div>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">Defining <span
                        class="text-danger font-weight-bold">magic</span> function. This function will not print
                    anything, unless it's called :</p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-danger">def </span> <span class="text-dark"> magic ( ) :</span>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span><span class="text-dark"> ( " </span><span
                class="text-info">Hello World!<span class="text-dark"> " )</span></span>
        </p>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">Calling <span
                        class="text-danger font-weight-bold">magic</span> function :</p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-dark"> magic ( ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output:&nbsp;&nbsp;Hello World!</span>
        </p>

        <hr>
        <div class="h5 text-info"><strong>Section 2.2</strong>: Defining Arguments Within Functions</div>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">Defining <span
                        class="text-danger font-weight-bold">magic</span> function with an argument inside the
                    parentheses. </p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-danger">def </span> <span class="text-dark"> magic ( name ) :</span>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span><span class="text-dark"> ( " </span><span
                class="text-info">Hello ,</span> <span class="text-dark"> " <span
                class="text-dark">+ name</span>  )</span>
        </p>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">Calling <span
                        class="text-danger font-weight-bold">magic</span> function with an argument:</p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-dark"> magic ( " Selena Gomez! ") </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output:&nbsp;&nbsp;Hello , Selena Gomez!</span><br>
            <span class="text-dark"> magic ( " Alex! ") </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output:&nbsp;&nbsp;Hello , Alex!</span><br>
        </p>

        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">We also can do some complex logic using <span
                        class="text-danger font-weight-bold">if/else</span> statements:</p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-danger">def </span> <span class="text-dark px-2"> is_even ( number ) :</span>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">if </span><span class="text-dark px-2">  number&nbsp; %&nbsp; <span
                class="text-danger">2</span>&nbsp; ==&nbsp; 0:</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print </span><span
                class="text-dark">( <span class="text-danger">str</span> ( number )&nbsp; + &nbsp;"&nbsp; <span
                class="text-info">&nbsp;is&nbsp; even&nbsp; number.</span> " )</span> <span
                class="text-secondary font-italic pl-3"># &nbsp;&nbsp; Don't forget to change data type to 'str' , otherwise Error occurs!</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">else </span><span class="text-dark">:  </span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print </span><span
                class="text-dark">( <span class="text-danger">str</span> ( number )&nbsp; + &nbsp;"&nbsp; <span
                class="text-info">&nbsp;is&nbsp; odd&nbsp; number.</span> " )</span>
        </p>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">Calling <span
                        class="text-danger font-weight-bold">is_even</span> function with an argument:</p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-dark"> <span class="text-danger">is_even</span> ( 5 ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output:&nbsp;&nbsp;5 &nbsp;is&nbsp; odd&nbsp; number.</span><br>
            <span class="text-dark"> <span class="text-danger">is_even</span> ( 10 ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output:&nbsp;&nbsp;10&nbsp; is&nbsp; even&nbsp; number.</span><br>
            <span class="text-dark"> <span class="text-danger">is_even</span> (  ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Error: No argument given.</span><br>
            <span class="text-dark"> <span class="text-danger">is_even</span> ( 20 , 23 ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Error: Only 1 argument required.</span><br>

        </p>

        <hr>
        <div class="h5 text-info"><strong>Section 2.3</strong>: Defining Multiple Arguments Within Functions</div>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">Defining <span
                        class="text-danger font-weight-bold">func</span> function with 2 arguments inside the
                    parentheses. </p>
            </li>
        </ul>
        <p class="command p-size mt-3">
            <span class="text-danger">def </span> <span class="text-dark px-2"> func ( country , capital ) :</span>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span><span
                class="text-dark"> ( capital +&nbsp; " </span>
            <span
                    class="text-info"> &nbsp;is&nbsp; a&nbsp; capital&nbsp; of &nbsp;</span> <span class="text-dark"> "&nbsp; + country )</span>
        </p>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">Calling <span
                        class="text-danger font-weight-bold">func</span> function with 2 arguments:</p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-dark"> <span class="text-danger">func</span> ( "England" , "London" ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output:&nbsp;&nbsp;London &nbsp;is&nbsp; a&nbsp; capital&nbsp; of &nbsp;England</span><br>
            <span class="text-dark"> <span class="text-danger">func</span> ( "Russia" , "Moscow" ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output:&nbsp;&nbsp;Moscow &nbsp;is&nbsp; a&nbsp; capital&nbsp; of &nbsp;Russia</span><br>
            <span class="text-dark"> <span class="text-danger">func</span> ( "Italy" ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Error : &nbsp; 2 arguments required.</span><br>

        </p>
        <hr>
        <div class="h5 text-info"><strong>Section 3.1</strong>: Arbitrary Arguments ( *args ) Within Functions</div>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">Defining <span
                        class="text-danger font-weight-bold">nums</span> function with arbitrary number of arguments
                    inside the
                    parentheses. </p>
            </li>
        </ul>
        <p class="command p-size mt-3">
            <span class="text-danger">def </span> <span class="text-dark px-2"> nums ( *args ) :</span>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span><span
                class="text-dark"> ( <span class="text-info">list</span> ( args ) )</span><br>

        </p>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">Calling <span
                        class="text-danger font-weight-bold">nums</span> function with arbitrary arguments:</p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-dark"> <span class="text-danger">nums</span> ( [ 1 , 2 , 3 , 4 , 5 ] ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output: &nbsp;&nbsp;[ 1 , 2 , 3 , 4 , 5 ]</span> <br>

        </p>
        <hr>
        <div class="h5 text-info my-3"><strong>Section 3.2</strong>: Keyword Arbitrary Arguments ( **kwargs ) Within
            Functions
        </div>

        <p class="p-color p-size font-italic ml-3">
            <strong>**kwargs</strong> stands for <span
                class="text-danger font-weight-bold">Keyword Arbitrary Arguments</span>.
        </p>
        <p class="command p-size mt-3">
            <span class="text-danger">def </span> <span class="text-dark px-2"> nums ( **kwargs ) :</span>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">for</span>&nbsp; name , cost &nbsp;<span
                class="text-danger"> in </span> &nbsp;<span class="text-dark"> kwargs.items ( ) :</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                class="text-danger"> print </span>( name , cost ) <br>
        </p>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">Calling <span
                        class="text-danger font-weight-bold">nums</span> function with keyword arbitrary arguments:</p>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-6"> <p class="command p-size">
            <span class="text-dark"> <span class="text-danger">nums</span> ( num1 &nbsp;=&nbsp; 1 , num2 &nbsp;=&nbsp; 2 , num3 &nbsp;=&nbsp; 3 ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output: </span> <br>
            <span class="text-secondary font-italic">
             num1 &nbsp;=&nbsp; 1 <br> num2 &nbsp;=&nbsp; 2 <br> num3 &nbsp;=&nbsp; 3
          </span> <br>

        </p></div>
            <div class="col-md-6"><p class="command p-size">
            <span class="text-dark"> <span class="text-danger">nums</span> ( { 'one' &nbsp;=&nbsp; 1 , 'two' &nbsp;=&nbsp; 2 , 'three' &nbsp;=&nbsp; 3 } ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output: </span> <br>
            <span class="text-secondary font-italic">
             one &nbsp;=&nbsp; 1 <br> two &nbsp;=&nbsp; 2 <br> three &nbsp;=&nbsp; 3
          </span> <br>
        </p></div>
        </div>


        <hr>
        <div class="h5 text-info my-3"><strong>Section 4.1</strong>: <strong>Pass</strong> Statement</div>

        <p class="p-color p-size font-italic ml-3">
            If defined function has no body (content), it'll throw an Error, in order to avoid this error <span
                class="text-danger font-weight-bold">pass</span> statement is used.
        </p>
        <p class="command p-size">
            <span class="text-danger">def </span> <span class="text-dark"> magic ( ) :</span>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">pass</span> <br>
        </p>
        <hr>
        <p class="command p-size">
            <span class="text-danger">print </span> <span class="text-dark">( </span> magic ( )<span class="text-dark"> )</span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output:&nbsp;&nbsp;  None</span> <br>
        </p>

        <hr>
        <div class="h5 text-info my-3"><strong>Section 4.2</strong>: <strong>Return</strong> Statement</div>
        <ul>
            <li>
                <p class="p-color p-size  mt-3">
                    <span class="text-danger font-weight-bold">return </span> statement will just return the value, once
                    we call
                    the function it'll show nothing. Because, it'll just return the value.
                </p>
            </li>
            <li>
                <p class="p-color p-size  mt-3">
                    In order to show the value (output), we must use <span
                        class="text-danger font-weight-bold">print </span>
                    function.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">We also can do some complex logic using <span
                        class="text-danger font-weight-bold">if/else</span> statements:</p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-danger">def </span> <span class="text-dark px-2"> is_even ( number ) :</span>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">if </span><span class="text-dark px-2">  number&nbsp; %&nbsp; <span
                class="text-danger">2</span>&nbsp; ==&nbsp; 0:</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">return </span><span
                class="text-dark"> <span class="text-danger">str</span> ( number )&nbsp; + &nbsp;"&nbsp; <span
                class="text-info">&nbsp;is&nbsp; even&nbsp; number.</span> " </span> <span
                class="text-secondary font-italic pl-3"># &nbsp;&nbsp; Don't forget to change data type to 'str' , otherwise Error occurs!</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">else </span><span class="text-dark">:  </span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">return </span><span
                class="text-dark"> <span class="text-danger">str</span> ( number )&nbsp; + &nbsp;"&nbsp; <span
                class="text-info">&nbsp;is&nbsp; odd&nbsp; number.</span> " </span>
        </p>
        <ul>
            <li>
                <p class="p-color p-size font-italic mt-3">Calling <span
                        class="text-danger font-weight-bold">is_even</span> function with an argument:</p>
            </li>
        </ul>
        <p class="command p-size">
            <span class="text-dark"> <span class="text-danger">is_even</span> ( 5 ) </span>
            <span class="text-secondary font-italic">&nbsp;&nbsp;# &nbsp;&nbsp;Output: Nothing, because we function will just return the value</span><br>
            <span class="text-dark"> print ( <span class="text-danger">is_even</span> ( 7 ) )</span>
            <span class="text-secondary font-italic">&nbsp;&nbsp;# &nbsp;&nbsp;Output:&nbsp;&nbsp;7&nbsp; is&nbsp; odd&nbsp; number.</span><br>


            <span class="text-dark"> print ( <span class="text-danger">is_even</span> ( 10 ) )</span>
            <span class="text-secondary font-italic">&nbsp;&nbsp;# &nbsp;&nbsp;Output:&nbsp;&nbsp;10&nbsp; is&nbsp; even&nbsp; number.</span><br>
            <span class="text-dark">  print ( <span class="text-danger">is_even</span> (  ) )</span>
            <span class="text-secondary font-italic">&nbsp;&nbsp;# &nbsp;&nbsp;Error: No argument given.</span>

        </p>
        <hr>
        <div class="h5 text-info"><strong>Section 4.3</strong>: Default (Optional) Parameter in Functions</div>
        <ul>
            <li>
                <p class="p-color p-size  mt-3">
                    <em><span class="text-danger font-weight-bold">Default values</span></em> are initialized inside the
                    function parentheses.
                </p>
            </li>
            <li>
                <p class="p-color p-size  mt-3">
                    If function is called <strong>without any arguments</strong>, then <em>default values will be
                    displayed</em>.
                </p>
            </li>
            <li>
                <p class="p-color p-size  mt-3">
                    If function is called <strong>with arguments</strong>, then <em>default values will be
                    overridden</em>.
                </p>
            </li>
        </ul>
<p class="command p-size">
            <span class="text-danger">def </span> <span class="text-dark"> magic ( default_val = <span
        class="text-info">" World! "</span> ) :</span>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-danger">print</span><span class="text-dark"> ( " </span><span
                class="text-info">Hello <span class="text-dark"> + default_val " )</span></span>
        </p>
        <hr>
       <p class="command p-size">
           <span class="text-dark"> <span class="text-danger">magic</span> ( " Selena Gomez! ") </span>  <span class="text-secondary font-italic pl-3"># Default value will be overridden</span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output:&nbsp;&nbsp;Hello Selena Gomez!</span><br>
            <span class="text-dark"> <span class="text-danger">magic</span> ( ) </span><br>
            <span class="text-secondary font-italic"># &nbsp;&nbsp;Output:&nbsp;&nbsp;Hello World!</span>
        </p>
      <br>
         <div class="mt-3 mb-4">
            <button class="prev" ><span><a class="text-white" href="{% url 'main:python_os_path' %}" > Previous</a></span></button>
            <button class="next"><span><a class="text-white" href="{% url 'main:python_lambda' %}" >Next </a></span></button>
        </div>
        <br> <br> <br>
        <!--==========Schedule Section==============-->
        <section id="schedule" class="section-with-bg">
            <div class="container wow fadeInUp">

                <div class="tab-content row justify-content-center">
                    <div role="tabpanel" class="col-lg-9 tab-pane fade show active">
                        <div class="row schedule-item">
                            <div class="col-md-12">
                                <div class="speaker">
                                    <img src="{% static 'images/contributors/aziko.jpg' %}" alt="author image">
                                </div>
                                <h4>Written By : <span class="text-danger font-weight-bold">Azam Nurullaev</span></h4>
                                <p class="p-size"><span class="text-dark font-weight-bold">Quote : </span>Programming is
                                    the
                                    main bridge towards your future goals and I'm happy to help you achieve them.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="section-header my-3">
                    <p class="text-dark font-weight-bold my-3">Be part of our supreme family and share your knowledge
                        <img
                                src="{% static 'images/heart.ico' %}" alt="love" style="width: 25px; height: 25px;"></p>
                </div>

                <h3 class="sub-heading mt-5">
                    Be part of our super family by sharing your articles to <span class="text-danger font-weight-bold">nodira.org@gmail.com</span>
                    <br>
                    Your contributions are very important for us!
                    <br>
                    <br>
                    <strong>*</strong>Articles can be written on any topic
                </h3>

            </div>
        </section>


    </div>

    <!--SIDEBAR2 -->
    {% include 'main/tutorial/sidebar_2.html' %}


    <!--FOOTER -->
    {% include 'main/footer.html' %}
{% endblock %}