<ul class="list-unstyled components">
    <p>Python Full Course</p>

    <li {% if 'python_default' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python' %}">Course Introduction</a>
    </li>

    <li {% if 'python_installing' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_installing' %}">Installing Python</a>
    </li>

    <li {% if 'data_types' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:data_types' %}">Python Data Types</a>
    </li>

    <li {% if 'indentation' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:indentation' %}">Indentation and Comments</a>
    </li>

    <li {% if 'python_print_function' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_print_function' %}">Python Print Function</a>
    </li>

    <li  {% if 'python_string_manipulation' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_string_manipulation' %}">String Manipulation</a>
    </li>

    <li {% if 'list' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_list' %}">Python List</a>
    </li>

    <li {% if 'set' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_set' %}">Python Set</a>
    </li>

    <li {% if 'tuple' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_tuple' %}">Python Tuple</a>
    </li>

    <li {% if 'dictionary' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_dict' %}">Python Dictionary</a>
    </li>

    <li {% if 'operators' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_operator' %}">Python Operators</a>
    </li>

    <li {% if 'global&local_variables' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_local_global' %}">Global/Local Variables</a>
    </li>

    <li {% if 'if&elif&else_conditions' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_if_elif_else' %}">Python if, elif and else</a>
    </li>

    <li {% if 'loop' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_loop' %}">Python Loops</a>
    </li>

    <li {% if 'array' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_array' %}">Python Arrays</a>
    </li>

    <li {% if 'user_input&output' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_i&o' %}">User Input/Output</a>
    </li>

    <li {% if 'python_files&folders' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_files_folders' %}">Files & Folders I/O</a>
    </li>

    <li {% if 'python_os&python_path' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_os_path' %}">Python os.path</a>
    </li>

    <li {% if 'python_function' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_function' %}">Python Functions</a>
    </li>

    <li {% if 'python_lambda' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_lambda' %}">Python Lambda</a>
    </li>

    <li {% if 'python_recursion' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_recursion' %}">Python Recursion</a>
    </li>

    <li {% if 'python_decorator' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_decorator' %}">Python Decorators</a>
    </li>

    <li {% if 'python_class' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_class' %}">Python Class</a>
    </li>

    <li {% if 'date&time' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:date_time' %}">Python Date & Time</a>
    </li>

    <li  {% if 'python_module&python_package' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_module_package' %}">Module vs Package</a>
    </li>

    <li {% if 'python_generators' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_generators' %}">Python Generators</a>
    </li>

    <li  {% if 'python_map&python_reduce' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_map_reduce' %}">Python Map & Reduce</a>
    </li>

    <li  {% if 'python_search&python_filter' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_search_filter' %}">Python Find & Filter</a>
    </li>

    <li {% if 'heapq&count' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_heapq_enum' %}">Heapq & Count</a>
    </li>

    <li {% if 'python_sort&min_max' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_sort_min_max' %}">Sorting, Minimum and Maximum</a>
    </li>


    <li {% if 'python_regex' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_regex' %}">Regular Expressions (Regex)</a>
    </li>
    <li {% if 'python_copy_function' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_copy_function' %}">Python Copying data</a>
    </li>

    <li {% if 'python_name_variable' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_name_variable' %}">The __name__ variable</a>
    </li>

    <li {% if 'python_pip-package-manager' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_pip' %}">pip: PyPI Package Manager</a>
    </li>

    <li {% if 'python_exceptions' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_exceptions' %}">Python Exceptions</a>
    </li>

    <li {% if 'python_urllib' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_urllib' %}">Python urllib</a>
    </li>

    <li {% if 'python_inheritance' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_inheritance' %}">Python Inheritance</a>
    </li>

    <li {% if 'python_overloading' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_overloading' %}">Python Overloading</a>
    </li>

    <li {% if 'python_overriding' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_overriding' %}">Method Overriding</a>
    </li>

    <li {% if 'python_polymorphism' in request.path %} class="active" {% endif %} >
        <a href="{% url 'main:python_polymorphism' %}">Python Polymorphism</a>
    </li>


    <li {% if 'python_debugging' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_debugging' %}">Python Debugging</a>
    </li>


    <li {% if 'python_console' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_console' %}">Python Console</a>
    </li>

    <li {% if 'python_args_kwargs' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_args_kwargs' %}">Python *args & **kwargs</a>
    </li>

    <li {% if 'python_hints' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_hints' %}">Python Hints</a>
    </li>

    <li {% if 'python_multiprocessing' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_multiprocessing' %}">Python Multiprocessing</a>
    </li>

    <li {% if 'python_multithreading' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_multithreading' %}">Python Multithreading</a>
    </li>


    <li {% if 'python_networking' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_networking' %}">Python Networking</a>
    </li>

    <li {% if 'python_http_server' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_http_server' %}">Python HTTP Server</a>
    </li>

    <li {% if 'python_descriptor' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_descriptor' %}">Python Descriptor</a>
    </li>

    <li {% if 'python_tempfile' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_tempfile' %}">Python `tempfile`</a>
    </li>

    <li {% if 'python_zip_unzip_files' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_zip_unzip_files' %}">Python ZIP & UNZIP Archive</a>
    </li>


    <li {% if 'python_mixins' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_mixins' %}">Python Mixins</a>
    </li>

    <li {% if 'python_attribute_access' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_attribute_access' %}">Python Attribute Access</a>
    </li>

    <li {% if 'python_design_patterns' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_design_patterns' %}">Python Design Patterns</a>
    </li>

    <li {% if 'python_hashlib' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_hashlib' %}">Python hashlib</a>
    </li>


    <li  {% if 'python_virtual_environments' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_virtual_environments' %}">Virtual environments</a>
    </li>

    <li  {% if 'python_unit_testing' in request.path %} class="active" {% endif %} >
        <a href="{% url 'main:python_unit_testing' %}">Unit Testing in Python</a>
    </li>

    <li {% if 'python_speed' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_speed' %}">Python Speed Optimization</a>
    </li>

    <li {% if 'python_speed' in request.path %} class="active" {% endif %}>
        <a href="{% url 'main:python_final' %}">Python : Final Course</a>
    </li>


</ul>
